---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

</head>

<body>

  {% include browser-upgrade.html %}
  {% include masthead.html %}

  {{ content }}

  <div class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include footer.html %}
    </footer>
  </div>

  {% include scripts.html %}

</body>

</html>